.nav__button{
    min-width: 10rem;
    min-height: 7rem;
    color: #5933AA;
    background-color: white;
    text-decoration: none;
    border: 1px solid #5933AA;
    border-radius: 1rem;
    padding: 1rem;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
}

.nav__button__text{ 
    float:none;
    display:inline-block;
    vertical-align: middle;
    margin-top: 1.1rem;
}

.nav__button:hover{
    color: #5933AA;
    border: 1px solid white;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.well{
    margin: 2.7rem auto;
    min-width: 15rem;
    background-color: rgba(199, 219, 247, 0.603);
    padding-top: 0;
    padding-bottom: 30px;

}

@media only screen and (max-width: 769px){
    .well{
        position: relative;
        margin-bottom: 0;
        margin-top: 2rem;
        size: 50%;
    }

    .nav__button{
        min-width: 4rem;
        min-height: 2rem;
        padding: 0.2rem;
    }
}