html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.list-group-item{
    transition: 0.2s;
}

.list-group-item:hover{
    background-color: rgba(0, 0, 0, 0.096);
}

.loading-card{
    margin: 1rem 1rem;
    padding-top: 18rem;
    padding-bottom: 18rem;
    background-color: white;
    border: 1.2px solid #5933aa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
    transition: 0.3s;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 1200px){
    .loading-card{
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

.card-title{
    font-weight: normal;
    font-size: 1.7rem;
    color: #5933AA;
    margin-bottom: 1rem;
}

.big-card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.137);
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
    padding: 2.7rem;
    border-radius: 0.5rem;
    
}

.big-card-link:hover{
    background-color: lightgray;
}


.item-card {
    /* Add shadows to create the "card" effect */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
    transition: 0.3s;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.137);
    border-radius: 0.5rem;
    min-height: 8rem;
    margin: 1.5rem 0;
    padding: 1.5rem 1.5rem;
}

.quiz-item-card{
    /* Add shadows to create the "card" effect */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
    transition: 0.3s;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.137);
    border-radius: 0.5rem;
    min-height: 8rem;
    min-width: 40rem;
    padding: 1.5rem;
    padding-left: 2rem;
    margin: 1.5rem 0;
}

.quiz-item-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-width: 1200px){
    .quiz-item-card{
        min-width: 30rem;
    }
}

@media only screen and (max-width: 993px){
    .quiz-item-card{
        min-width: 25rem;
    }
}


@media only screen and (max-width: 360px){
    .quiz-item-card{
        min-width: 20rem;
    }
}

button{
    padding-left: 0;
}

.btn-item{
    background-color: #5933AA;
    color: white;
    font-weight: normal;
    font-size: 105%;
    margin-top: 1rem;
}

@media only screen and (max-width: 420px){
    .btn-item{
        font-size: 95%;
    }
}

.btn-item-margin{
    margin-top: '2rem';
}

.btn-item:enabled{
    background-color: #5933AA;
    color: white;
    font-weight: normal;
}

.btn-item:hover{
    color: white;
    background-color: #472988;
    font-weight: normal;
    border: 1px solid #5933AA;
}

button:disabled > .btn-item{
    background-color: #cdc2e6;
    border: 1px solid #cdc2e6;
}

.item-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
    /* Add shadows to create the "card" effect */
    margin: 1rem 1rem;
    padding: 0 1rem;
    background-color: white;
    border: 1.2px solid #5933aa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
    transition: 0.3s;
    border-radius: 0.5rem;
    padding-bottom: 1rem; 
    min-height: 18rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-width: 768px){
    .card_left_margin{
        margin-left: 0;
    }
}

.withMargins{
    margin: 15px 15px;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.big-card-school-home{
    background-color: white;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
    border: 1.2px solid #5933aa;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2.7rem;
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: bold;
    min-height: 21rem;
}

.big-card-school-home:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.big-card-teacher-home{
    background-color: white;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
    border: 1.2px solid #5933aa;
    border-radius: 0.5rem;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;
    font-weight: bold;
    min-height: 18rem;
}

.big-card-teacher-home:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.big-card-admin-home{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.137);
    border-radius: 0.5rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-weight: bold;
}

.big__admin__text{
    font-size: 3rem;
    text-align: center;
    margin: 0.5rem;
}

.big__teacher__home__text{
    font-size: 5rem;
    text-align: center;
    margin: 0.5rem;
}

.big-card-admin-home:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0.096);
}

.big-card-mentor-home{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.137);
    border-radius: 0.5rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;
    font-weight: bold;
}

.big__mentor__text{
    font-size: 3rem;
    text-align: center;
    margin: 0.5rem;
}

.big-card-mentor-home:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0.096);
}

.front-card{
    z-index: 9999;
}

.top_targets{
    font-weight: normal;
    text-align: center;
}

.home__card__title{
    font-size: 2.5rem;
}

@media only screen and (max-width: 1200px){
    .big__admin__text{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1200px){
    .big__mentor__text{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px){
    .big-card-admin-home{
        max-height: 17.5rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 0;
        padding-right: 0;
        margin-top: 2rem;
        margin-bottom: 2rem
    }
}

@media only screen and (max-width: 1200px){
    .big-card-mentor-home{
        max-height: 17.5rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px){
    .big-card-mentor-home{
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem
    }
}

