.radio__text{
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
}

.form__title{
    text-align: center;
    font-size: 3rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #5933AA;
}

.req{
    color: red;
}

.btn-pad{
    margin-bottom: 2rem;
    margin-left: 0;
}

@media only screen and (max-width: 992px){
    .btn-pad{
        margin-bottom: 2rem;
        margin-left: 0;
    }
}
