.pagination > .active > .undefined,
.pagination > .active > .undefined:focus
.pagination > .active > .undefined:active
.pagination > .active > .undefined:hover{
    z-index: 0;
    color: white;
    background-color: #5933AA;
    border-color: #5933AA;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
    z-index: 0;
    color: #fff;
    cursor: default;
    background-color: #5933AA;
    border-color: #5933AA;

}