.Login-Title{    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Login{
    border: 2px solid lightgray;
    border-radius: 3px;
}

.Login > form > h2{ 
    margin-top: 5%;
    margin-bottom: 10%;
}

.Login > form > .btn{ 
    position: relative;
    margin-top: 20%;
    background-color: transparent;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 55px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 0px;
    z-index: 2;
}

.Login > form > .btn:hover {
    background-color: #4286f4;
    border: 1px solid darkgray;    
    color: white;
}

.Login-signup{
    text-align: center;
}
.Edvo-Shadow{    
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
}

.Materials-Img-S{
    margin-top: 15px;
    margin-bottom: 25px;
    width: 60%;
    min-width: 200px;
    min-height: 75px;
}
.SignUp-Button{
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-content: center;
}
.Register{
    border: 2px solid lightgray;
    border-radius: 3px;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.Register h6{
    font-size: 1.5rem;
}