@font-face {
    font-family: LuloCleanOneBold;
    src: url(https://beta.edvotech.com/static/fonts/LuloCleanOneBold.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(https://beta.edvotech.com/static/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Pacifico;
    src: url(https://beta.edvotech.com/static/fonts/Pacifico-Regular.ttf);
}
ul {
	list-style: none;
  }
.Join {
    text-align: center;
	font-size: 1.5vw;
	font-family: Montserrat;
    color: white;
}

.Join .btn {
	position: relative;
	margin-top: 1%;
	background-color: #854dff;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 60px;
	border: 1px solid #854dff;
	cursor: pointer;
	border-radius: 30px;
	z-index: 2;
}

.Join .btn:hover {
	background-color: #FFFFFF;
	color: #854dff;
	border: 1px solid #FFFFFF;
}
.Main {
    position: relative;
    display: block;
    z-index: 1;
  }
.Parallax-Title{	
	background-image: url("https://beta.edvotech.com/static/images/touch.jpg");
    background-attachment: fixed;
    background-position: 90% 90%;
    background-repeat: no-repeat;
    background-size: cover;
}
.Parallax-Title video{
    min-width: 100%;
    position: fixed;
    top:0;
    z-index: -9999;
}
.Parallax-Title h3 {
    color: #fff;
    font-size: 76px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.Parallax-Image {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}
.Title{
    padding-top: 5%;
	padding-bottom: 5%;
	background: rgba(7, 23, 77, 0.8);
	background: rgba(7, 23, 77, 0.8);
	color: white;
	width: 100%;
	height: 100%;
}

.Title >h1{    
	text-align: center;
	font-family: LuloCleanOneBold;
    font-size: 5vw;
}
.Title>h4 {
	font-family: Montserrat;    
    color: white;
}

.Subtitle {
    text-align: center;
	font-size: 1.5vw;
	font-family: Montserrat;
    color: white;
}

.Mission {
    text-align: center;
	font-family: Pacifico;
	color: white;
	background:#854dff;
	
}

.pt-5{
	padding-top: 3rem;
}
.pb-5{
	padding-bottom: 3rem;
}
.Break{
	width:5%;
	background-color: white;
}

.Mission> h1 {
	font-size: 3vw;
}
.Mission> h2 {
	font-family: Montserrat;
}
.Mission> h4 {
	font-family: Montserrat;
}

/* .Join {
    text-align: center;
	position: relative;
	margin-top: 1%;
	background-color: #854dff;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #854dff;
	cursor: pointer;
	z-index: 2;
}

.Join:hover {
	background-color: #FFFFFF;
	color: #854dff;
	border: 1px solid #FFFFFF;
} */
.Subtitle>h1 {
	font-size: 4vw;
	font-family: Pacifico;
	margin-bottom: 1%;
    color: white;
}

.Subtitle>h2 {
	font-family: Montserrat;
	margin-bottom: 1%;  
    color: white;
}
.Subtitle>h4 {
	font-family: Montserrat;   
    color: white;
}
.How{    
	background-color: #F2F7FF;
	font-family: Montserrat;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.How-Title{    
	font-size: 1.5vw;
}
.Tools{    
	font-family: Montserrat;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.Feature-Img {
	background-color: white;
	max-width:10%;
	max-height:10%;
	margin-bottom: 5%;
  }

.How-Img {
	margin-top: 5%;
	max-width:30%;
	max-height:30%;
	margin-bottom: 5%;
}
.mt-5{
	margin-top: 5%;
}
.mt-10{
	margin-top: 10%;
}

.Partners-Img{
	margin-top: 5%;
    width: 200px;
    align-content: center;
	margin-bottom: 5%;
}
.Partners-Img-S{
	margin-top: 5%;
    width: 100px;
    align-content: center;
	margin-bottom: 5%;
}
.Contact{
	color: white;
	font-family: Montserrat;
	background-image: url("https://beta.edvotech.com/static/images/touch.jpg");
	padding-bottom: 0;
 }
 .Contact-Content{
	 background: rgba(7, 23, 77, 0.9);
	 background: rgba(7, 23, 77, 0.9);
	 
 }
 
 .Contact-Btn{
	 font-weight: bold;
	 background-color: #854DFF;
	 border: none;
	 color: white;
	 text-align: center;
	 text-decoration: none;
	 font-size: 20px;
	 cursor: pointer;
	 width: 100%;
	 padding: 2%;
 
 }

 .Contact-Btn:hover{
	background-color: #472988;
 }

 .Contact-Img-S{
	max-width:5%;
	max-height:5%;
}
.Contact-Font{
	font-size: 2rem;
}
.Want{
	color: #854DFF;
}