.Main {
    position: relative;
    display: block;
    z-index: 1;
  }
.Parallax-Video{
    padding-bottom: 50px;
    padding-top: 50px;
}
.Parallax-Video video{
    min-width: 100%;
    position: fixed;
    top:0;
    z-index: -9999;
}
.Parallax-Video h3 {
    color: #fff;
    font-size: 76px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.Title{
    padding-top: 5%;
	padding-bottom: 5%;
	background: rgba(7, 23, 77, 0.8);
	background: rgba(7, 23, 77, 0.8);
    color: white;
}

.Title >h1{    
	text-align: center;
	font-family: LuloCleanOneBold;
    font-size: 5vw;
}
.Title>h4 {
	font-family: Montserrat;
    
    color: white;
}

.Subtitle {
    text-align: center;
	font-size: 1.5vw;
	font-family: Montserrat;
    color: white;
}
.Subtitle .btn {
	position: relative;
	margin-top: 1%;
	background-color: #854dff;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 60px;
	border: 1px solid #854dff;
	cursor: pointer;
	border-radius: 30px;
	z-index: 2;
}

.Subtitle .btn:hover {
	background-color: #FFFFFF;
	color: #854dff;
	border: 1px solid #FFFFFF;
}
.Subtitle>h1 {
	font-size: 4vw;
	font-family: Pacifico;
	margin-bottom: 1%;
    color: white;
}

.Subtitle>h2 {
	font-family: Montserrat;
	margin-bottom: 1%;  
    color: white;
}
.Subtitle>h4 {
	font-family: Montserrat;   
    color: white;
}