.No-Border-Top{
    border-top:0;
}
.Absolute-Package{
    border-left: 2px solid #854dff; 
    border-right: 2px solid #854dff; 
    border-top: 2px solid #854dff; 
    border-bottom: 2px solid #854dff;
}
.Edvo-Background-Color{
    background-color: #854dff;
}
.Font-10-Px{
    font-size: 10px;
}

.Subscribe {
    background-color: transparent;
    color: white;
    border: 2px solid #FFFFFF;
}

.Subscribe-2 {
    margin-bottom: 50px;
}

.Subscribe:hover {
    background-color: white;
    color: black;
}

.Promo td:last-child {
        border-left: 2px solid #854dff;
        border-right: 2px solid #854dff;
        border-bottom: 2px solid #854dff;
}

.ml-5{
    margin-left: 5rem;
}
.mt-3{
    margin-top: 2rem;
}
.Body-Background{
    background: #061551;
    overflow-x: auto;
}

tr > th{
    padding-left: 1rem;
}

tr{
    border: 1px solid white;
    border-left: 0px;
}

thead > tr{
    border-top: 0px;
    border-right: 0px;
}

.table-responsive .table {
    max-width: none;
    -webkit-overflow-scrolling: touch !important;
}

.Scrollable{
    -webkit-overflow-scrolling: touch;
}

