.No-Border-Top{
    border-top:0;
}
.Absolute-Package{
    border-left: 2px solid #854dff; 
    border-right: 2px solid #854dff; 
    border-top: 2px solid #854dff; 
    border-bottom: 2px solid #854dff;
}
.Edvo-Background-Color{
    background-color: #854dff;
}
.Font-10-Px{
    font-size: 10px;
}

.Subscribe {
    background-color: transparent;
    color: white;
    transition: 0.3s;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #FFFFFF;
}

.Contact_Offer{
    background-color: transparent;
    color: white;
    transition: 0.3s;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #FFFFFF;
}

.Subscribe-2 {
    margin-bottom: 50px;
}

.Subscribe:hover {
    background-color: white;
    color: black;
}

.Contact_Offer:hover {
    background-color: white;
    color: black;
}

.offer_button_spacing_top{
    position: relative;
    top: 11px;
}

.offer_button_spacing_bottom{
    position: relative;
    bottom: 9px;
}

.absolute_button_spacing_bottom{
    position: relative;
}

.english_spacing_bottom{
    bottom: 11px;
}

.Promo td:last-child {
        border-left: 2px solid #854dff;
        border-right: 2px solid #854dff;
        border-bottom: 2px solid #854dff;
}

.ml-5{
    margin-left: 5rem;
}
.mt-3{
    margin-top: 2rem;
}
.Body-Background{
    background: #061551;
    overflow-x: auto;
}

tr > th{
    padding-left: 1rem;
}

tr{
    border: 1px solid white;
    border-left: 0px;
}

thead > tr{
    border-top: 0px;
    border-right: 0px;
}

.table-responsive .table {
    max-width: none;
    -webkit-overflow-scrolling: touch !important;
}

.Scrollable{
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 787px){
    td{
        vertical-align: center;
        text-align: center;
    }
    
    td > span > i{
        text-align: center;
        margin: 0;
    }
}

@media only screen and (max-width: 787px){
    tr > th > p{
        font-size: 1rem;
    }

    tr > th > div > p {
        font-size: 1rem;
    }

    tr > th > h3{
        font-size: 1.2rem;
    }

    .table_icon{
        font-size: 1rem;
    }

    td{
        width: 20%;
        text-align: center;
    }

    .offer_button_spacing_bottom{
        bottom: 0px;
    }
    
    .offer_button_spacing_top{
        top: 0px
    }
}

@media only screen and (max-width: 460px){
    .Subscribe{
        font-size: 0.7rem;
    }

    .Contact_Offer{
        font-size: 0.7rem;
    }

    .absolute_button_spacing_bottom{
        bottom: 0;
    }

    .english_spacing_bottom{
        
    }
}

@media only screen and (max-width: 320px){
    .table_icon{
        font-size: 1rem;
    }
}