@import './base/settings';
@import './base/base';
@import './components/prevStyles/base.css';
@import './components/prevStyles/edvo.css';
@import './components/about.css';
@import './components/cursors.css';
@import './components/teacherHome.css';
@import './components/card.css';
@import './components/questions.css';
@import './components/input.css';
@import './components/pages.css';
@import './components/buttonlist.css';
@import './components/filters.css';
@import './components/forms.css';
@import './components/link.css';
@import './components/modal.css';
@import './components/pagination.css';
@import './components/media.css';
@import './components/notfound.css';
@import './components/wysiwyg.css';
@import './components/recommendation.css';
