@font-face {     
	font-family: 'LuloCleanOneBold';
	src: url("http://localhost:8080/static/fonts/LuloCleanOneBold.ttf") format("opentype");
}

@font-face {     
	font-family: 'Pacifico';
	src: url("http://localhost:8080/static/fonts/Pacifico-Regular.ttf") format("opentype");
}

@font-face {     
	font-family: 'Montserrat';
	src: url("http://localhost:8080/static/fonts/Montserrat-Regular.ttf") format("opentype");
}


.title{
    padding-top: 5%;
	padding-bottom: 5%;
	background: rgb(7, 23, 77, 0.8);
	background: rgba(7, 23, 77, 0.8);
    color: white;
}

.title >h1{    
	text-align: center;
	font-family: LuloCleanOneBold;
    font-size: 5vw;
}
.subtitle {
    text-align: center;
	font-size: 1.5vw;
	font-family: Montserrat;
    color: white;
}

.subtitle .btn {
	position: relative;
	margin-top: 1%;
	background-color: #854dff;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 60px;
	border: 1px solid #854dff;
	cursor: pointer;
	border-radius: 30px;
	z-index: 2;
}

.subtitle .btn:hover {
	background-color: #FFFFFF;
	color: #854dff;
	border: 1px solid #FFFFFF;
}



.parallax-container {
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
    color: white;
}

 .parallax {
     background: #FFFFFF;
     padding: 42px 0;
     color:#000000;
}
 .parallax-video{
     padding-bottom: 50px;
     padding-top: 50px;
}
 .parallax-video video{
     min-width: 100%;
     position: fixed;
     top:0;
     z-index: -9999;
}
 .parallax-video h3 {
     color: #fff;
     font-size: 76px;
     font-weight: 700;
     text-align: center;
     text-transform: uppercase;
}

img.resize {
  max-width:50%;
  max-height:50%;
  margin-top: 5%;
}

img.resize-persons {
  max-width:30%;
  max-height:30%;
  margin-top: 5%;
}

.feature-img {
  max-width:15%;
  max-height:15%;
  margin-bottom: 5%;
}
 body {
     margin:0;
     padding:0;
}

.subtitle>h1 {
	font-size: 4vw;
	font-family: Pacifico;
	margin-bottom: 1%;
    color: white;
}

.subtitle>h2 {
	font-family: Montserrat;
	margin-bottom: 1%;  
    color: white;
}

.speech-bubble {
	position: relative;
	background: #854dff;
	border-radius: .4em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 3em;
    max-width: 20vw;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	border: 1.156em solid transparent;
	border-top-color: #854dff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -2em;
	margin-bottom: -1.156em;
}

.bar{
    max-height: 10vh;
    background-color: #061551;
}
.header{
    background-color: #061551;
    color:white;
}

.text-white a{
    color: white;
}

.footer{
    height: 10%;
    padding: 50px;
    background-color: #061551;
}

.logo{
font-family: Pacifico;
position: relative;
}


.partners-img{
    width: 200px;
    align-content: center;
}

.subtitle>h4 {
	font-family: Montserrat;   
    color: white;
}

.title>h4 {
	font-family: Montserrat;
    
    color: white;
}

.features{    
	font-family: Montserrat;
    padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
    color: black;
}

.material-icons{
    font-size: 6vw;
    color: #854dff;
}

.how{
    
	background-color: #F2F7FF;
}


/* Image Parallax Section*/
 .parallax-image {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.contact{
   background-image: url("http://localhost:8080/static/images/touch.jpg");height: 500px;
}

.contact-content{
	background: rgb(7, 23, 77, 0.9);
	background: rgba(7, 23, 77, 0.9);
    padding: 150px;
    
}

.text-white{
    color: white;
}

.font-weight-bold{
    font-weight: bold;
}

.contact-btn{
	font-weight: bold;
    background-color: #854DFF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;

}

.navbar-nav li{
    color: white;
    transition: 0.5s;
}

.navbar-nav li:hover{
    color: #061551;
    background-color: white;
}



.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #061551;
}

.text-center li{
    display: inline-block;
    list-style-type: none;
}

.navbar-inverse .navbar-brand:hover{
    color: #061551;
}